<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
</head>
<body>
<p th:text="USER">value</p>

<p th:text="${user.getId()}">value</p>
<p th:text="${user.getName()}">value</p>
<p th:text="${user.getSurname()}">value</p>
<p th:text="${user.getNickname()}">value</p>
<p th:text="${user.getEmail()}">value</p>

<form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
    <br>
    <input type="submit" value="Update user"/>
</form>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <br>
    <input type="submit" value="Delete user"/>
</form>

<form th:method="GET" th:action="@{/}">
    <br>
    <input type="submit" value="Back to users"/>
</form>
</body>
</html>