<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>

<p th:text="USERS"></p>

<div th:each="user : ${users}">
    <form id="delete" th:method="DELETE" ></form>

    <form accept-charset=utf-8>
        <a th:href="@{users/{id}(id=${user.getId()})}" th:text="${user.toString()}">name</a>
        <input type="submit" th:formmethod="GET" th:formaction="@{users/{id}/edit(id=${user.getId()})}" value="Update"/>
        <input type="submit" form="delete" th:formaction="@{users/{id}(id=${user.getId()})}" value="Delete"/>
    </form>

</div>

<form th:method="GET" th:action="@{users/new}">
    <br>
    <input type="submit" value="Add user"/>
</form>
</body>
</html>
